html,
body {
    height: 100%;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.alignleft {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0px solid;
}

img {
    max-width: 100%;
    height: auto;
}

.fix {
    overflow: hidden;
}

p {
    margin: 0 0 15px;
    color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
    margin: 0 0 15px;
    color: #444;
    font-weight: 500;
}

h1 {
    font-size: 48px;
    line-height: 50px;
}

h2 {
    font-size: 38px;
    line-height: 40px;
}

h3 {
    font-size: 30px;
    line-height: 32px;
}

h4 {
    font-size: 24px;
    line-height: 26px;
}

h5 {
    font-size: 20px;
    line-height: 22px;
}

h6 {
    font-size: 16px;
    line-height: 20px;
}

a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

a:hover {
    color: #3ec1d5;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0 none;
}

body {
    background: #fff none repeat scroll 0 0;
    color: #444;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: left;
    overflow-x: hidden;
    line-height: 22px;
}

/* Back to top button */
.back-to-top {
    position: fixed;
    display: none;
    background: #3ec1d5;
    color: #fff;
    padding: 6px 12px 9px 12px;
    font-size: 16px;
    border-radius: 2px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
}

.back-to-top:focus {
    background: #3ec1d5;
    color: #fff;
    outline: none;
}

.back-to-top:hover {
    background: #3cd6ed;
    color: #fff;
}

.clear {
    clear: both;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

input,
select,
textarea,
input[type="text"],
input[type="date"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="tel"],
button,
button[type="submit"] {
    -moz-appearance: none;
    box-shadow: none !important;
}

div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url("../img/preloader.gif") no-repeat center center;
}

::-moz-selection {
    background: #3ec1d5;
    text-shadow: none;
}

::selection {
    background: #3ec1d5;
    text-shadow: none;
}

.area-padding {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.area-padding-2 {
    padding: 70px 0px 50px;
}

.padding-2 {
    padding-bottom: 90px;
}

.section-headline h2 {
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 70px;
    position: relative;
    text-transform: capitalize;
}

.section-headline h2::after {
    border: 1px solid #333;
    bottom: -20px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 40%;
}

.sec-head {
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 0;
    padding: 0 0 10px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}

/*--------------------------------*/

/*  2. Header top Area
/*--------------------------------*/

.header-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 1);
    z-index: 9;
}

.navbar-header a.navbar-brand {
    display: inline-block;
    height: 70px;
    padding: 15px 0;
}

.main-menu ul.navbar-nav li {
    display: inline-block;
    padding: 0px 13px;
}

.main-menu ul.navbar-nav li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 24px 0px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.main-menu ul.navbar-nav li.active > a::after {
    border: 1px solid #fff;
    bottom: 0px;
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
}

.main-menu ul.navbar-nav li.active a:hover {
    background: none;
    color: #fff;
}

.main-menu ul.navbar-nav li.active a:focus {
    color: #fff;
}

.main-menu ul.navbar-nav li.active a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    position: relative;
}

.main-menu ul.navbar-nav li a:hover {
    color: #3ec1d5;
}

.navbar {
    border: medium none;
    margin-bottom: 0;
}

.navbar-default {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.main-menu ul.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #333;
}

.navbar-default .navbar-toggle {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    padding: 25px 0px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 30px;
    height: 2px;
}

.top-right.text-right {
    float: right;
    position: relative;
    top: 24px;
    margin-left: 20px;
}

.top-right.text-right > li {
    float: right;
    margin: 0px 8px;
}

.top-right.text-right li a {
    color: #fff;
}

.main-menu .dropdown ul {
    background: #000;
}

.main-menu .dropdown ul li {
    display: block;
}

/*--------------------------------*/

/* 2.1. Stick menu
/*--------------------------------*/

.header-area.stick {
    background-color: rgba(0, 0, 0, 1);
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.stick .navbar-header a.navbar-brand {
    display: inline-block;
    height: 90px;
}

.stick .navbar-brand > img {
    display: none;
}

.stick .navbar-brand.sticky-logo > img {
    display: block;
}

.sticky-logo h1 {
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
}

.sticky-logo h1 span {
    color: #3ec1d5;
}
.stick .main-menu ul.navbar-nav li.active > a::after {
    border: 1px solid #fff;
    bottom: 0px;
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
}

.stick .main-menu ul.nav > li > a:hover {
    color: #fff;
}

.stick .main-menu ul.navbar-nav li.active a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    position: relative;
}

.stick .mainmenu ul#nav > li:hover > a,
.stick .mainmenu ul#nav li .mega-menu,
.stick .mainmenu ul#nav li ul.sub-menu {
    background-color: #f5f5f5;
    color: #fff;
    outline: medium none;
}

.stick .mainmenu ul#nav li:hover ul.sub-menu li a:hover,
.mainmenu ul#nav li .mega-menu span > a:hover,
.stick .mainmenu ul#nav li .mega-menu-shop a.mega-menu-title:hover {
    color: #fff;
}

.stick .logo {
    height: 20px;
}

.stick .logo a {
    margin-top: 0px;
}

.stick .main-menu ul.nav > li > a {
    color: #fff;
    line-height: 22px;
    padding: 24px 0px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.stick .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 30px;
    height: 2px;
}

.stick .navbar-default .navbar-toggle {
    padding: 10px 0px;
}

/*------------------------------
  3. About Area
--------------------------------*/

.about-area {
    background-color: #f9f9f9;
}

.single-well > a {
    display: block;
}

.single-well ul li {
    color: #444;
    display: block;
    padding: 5px 0;
}

.single-well ul li i {
    color: #3ec1d5;
    padding-right: 10px;
    font-size: 12px;
}

.single-well p {
    color: #444;
}

/*--------------------------------*/

/* 4.Services Area
/*--------------------------------*/

.services-icon {
    color: #444;
    display: inline-block;
    max-width: 100%;
    /* font-size: 36px;
  line-height: 36px;
  margin-bottom: 20px; */
}
.service-img {
    height: 18rem;
    vertical-align: middle;
    max-width: inherit;
}
.section-headline.services-head > h2 {
    margin-bottom: 25px;
}

.services-details {
    padding-top: 40px;
    transition: all 0.5s ease 0s;
}

.services-details:hover h4,
.services-details:hover .services-icon {
    color: #3ec1d5;
}

.row.second-row {
    margin-top: 40px;
}

.section-head > h2 {
    color: #333;
}

.single-services > h4 {
    color: #444;
    font-size: 24px;
    font-weight: 500;
}

.single-services > p {
    color: #333;
    font-size: 14px;
    text-align: justify;
}

/*----------------------------------------
 8.Team Area Css
----------------------------------------*/

.team-member {
    background: rgba(0, 0, 0, 0.65) none repeat scroll 0 0;
    display: block;
    margin-right: -15px;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.team-member::before {
    background: rgba(0, 0, 0, 0) url("../img/team/team01.jpg") repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    margin-right: -15px;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    transition: 5s;
    transform: scale(1);
}

.team-member:hover.team-member::before {
    transform: scale(1.2);
}

.single-team-member {
    border: 1px solid #ddd;
}

.team-left-text h4 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.team-left-text p {
    color: #fff;
    font-size: 17px;
    line-height: 26px;
}

.email-news {
    display: block;
    margin: 30px 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.email-news .email_button input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #fff;
    color: #fff;
    float: left;
    font-size: 13px;
    padding: 8px;
    width: 81%;
}

.email-news .email_button > button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #fff;
    color: #fff;
    float: left;
    font-size: 16px;
    padding: 8px 12px;
    text-align: center;
}

.email-news .email_button > button:hover {
    background: #3ec1d5;
    border: 1px solid #fff;
    color: #fff;
}

.team-left-icon ul li {
    display: inline-block;
}

.team-left-icon ul li a:hover {
    color: #3ec1d5;
    background: #fff;
    border: 2px solid #fff;
}

.team-left-icon ul li a {
    border: 2px solid #fff;
    color: #fff;
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 37px;
    margin: 0 3px;
    width: 40px;
}

.team-member-carousel .single-team-member {
    overflow: hidden;
    width: 100%;
}

.single-team-member:hover .team-img a:after {
    opacity: 1;
}

.single-team-member:hover .team-social-icon {
    top: 45%;
    opacity: 1;
}

.team-img {
    position: relative;
}

.team-img > a {
    display: block;
}

.team-img > a::after {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    transition: all 0.5s ease 0s;
    width: 100%;
    opacity: 0;
}

.team-social-icon {
    left: 50%;
    margin-left: -61px;
    opacity: 0;
    position: absolute;
    top: 30%;
    transition: 1.3s;
}

.team-social-icon ul li {
    display: inline-block;
}

.team-social-icon ul li a {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 35px;
    margin: 0 3px;
    width: 34px;
}

.team-social-icon ul li a:hover {
    color: #fff;
    border: 1px solid #3ec1d5;
    background: #3ec1d5;
}

.team-content {
    padding: 10px 0px;
}

.team-content > h4,
.team-content > p {
    color: #444;
    margin-bottom: 5px;
}

.team-content.head-team p {
    margin-bottom: 0;
}

.team-left-icon.text-center {
    margin-bottom: 20px;
}

.head-team h4 {
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    text-transform: uppercase;
}

/*--------------------------------*/

/*  9.review Area
/*--------------------------------*/

.reviews-area {
    background: url(../img/background/bg1.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    position: relative;
}

.work-left-text {
    background: #3ec1d5 none repeat scroll 0 0;
}

.work-left-text {
    width: 50%;
}

.work-right-text {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    float: right;
    height: 100%;
    overflow: hidden;
    padding: 71px 0;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
}

.work-right-text h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
}

.work-right-text h5 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
}

.work-right-text .sus-btn {
    margin-left: 0;
    margin-top: 20px;
}

.single-awesome-4 {
    display: block;
    float: left;
    overflow: hidden;
    width: 33.33%;
}

.single-awesome-4 .add-actions {
    padding: 10px 20px;
}

/*--------------------------------*/

/*  14.Contact Area
/*--------------------------------*/

.contact-area {
    height: auto;
    width: 100%;
}

.contact-content {
    padding: 100px;
    background: #000 none repeat scroll 0 0;
}

.contact-content-right {
    padding: 100px;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #444;
    height: 40px;
    margin-bottom: 16px;
    padding-left: 20px;
    width: 100%;
}

.contact-form textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #444;
    height: 140px;
    padding: 20px;
    width: 100%;
}

.contact-form button[type="submit"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #444;
    font-size: 16px;
    font-weight: 700;
    margin-top: 8px;
    padding: 12px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    border-radius: 30px;
}

.contact-form button[type="submit"]:hover {
    color: #fff;
    border: 1px solid #3ec1d5;
    background: #3ec1d5;
}

.contact-form #sendmessage {
    color: #3ec1d5;
    border: 1px solid #3ec1d5;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.contact-form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.contact-form #sendmessage.show,
.contact-form #errormessage.show,
.contact-form .show {
    display: block;
}

#contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}

.single-icon i {
    font-size: 24px;
    width: 50px;
    height: 50px;
    border: 1px solid #444;
    line-height: 46px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.single-icon p {
    font-size: 16px;
    line-height: 30px;
}

.contact-icon {
    margin-bottom: 40px;
}

#google-map {
    height: 370px;
    margin-bottom: 20px;
}

/*----------------------------------------*/

/*  15. Footer Area
/*----------------------------------------*/

.footer-area {
    padding: 40px 0;
    background: #f9f9f9;
}

.footer-head p {
    color: #444;
}

.footer-head h4 {
    color: #444;
    font-size: 16px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.footer-logo {
    padding-bottom: 20px;
}

.footer-logo h2 {
    color: #222;
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
}

.footer-logo h2 span {
    color: #3ec1d5;
}

.footer-icons ul li {
    display: inline-block;
}

.footer-icons ul li a {
    border: 1px solid #444;
    color: #444;
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 38px;
    margin-right: 5px;
    text-align: center;
    width: 40px;
    border-radius: 50%;
}

.flicker-img > a {
    float: left;
    padding: 1px;
    width: 33.33%;
}

.footer-icons {
    margin-top: 30px;
}

.footer-contacts p span {
    color: #3ec1d5;
    font-weight: 700;
}

.popular-tag ul li {
    display: inline-block;
}

.footer-content {
    display: block;
    overflow: hidden;
}

.popular-tag ul li a:hover,
.footer-icons ul li a:hover {
    background: #3ec1d5;
    border: 1px solid #3ec1d5;
    color: #fff;
}

.popular-tag ul li a {
    border: 1px solid #444;
    border-radius: 30px;
    color: #444;
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin: 5px 3px;
    padding: 5px 10px;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.4s ease 0s;
    width: 70px;
    text-align: center;
}

.footer-area-bottom {
    background: #f1f1f1 none repeat scroll 0 0;
    padding: 15px 0;
}

.copyright-text a:hover {
    text-decoration: underline;
    color: #3ec1d5;
}

.copyright-text a {
    color: #444;
}

.copyright > p {
    margin-bottom: 0;
    color: #444;
}

.copyright a,
.credits a {
    color: #3ec1d5;
}

.credits {
    padding-top: 5px;
    text-align: center;
}

/*----------------------------------------*/

/*----------------------------------------*/

/*  17.Home Page 3  CSS
/*----------------------------------------*/

.home-video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.header-image.home-3 {
    width: 100%;
    height: 100%;
    position: relative;
}

.table {
    width: 100%;
    height: 100%;
    display: table;
}

.table-cell {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
/*----------------------------------------*/

/*  Shopping cart Start
/*----------------------------------------*/

.order_qty {
    background-color: #af4900;
}

#shopInfo {
    margin-top: 7.5rem;
    height: 100%;
}

/*End Shopping cart*/

/*  Shopping cart Start
/*----------------------------------------*/

.card-header {
    color: black;
    font-weight: bold;
}

.reg-container {
    margin-top: 7rem;
    min-height: 100%;
}
/*-----------------------------------------*/


/*  Registration
/*----------------------------------------*/

.invalid-feedback{
    color: red;
}

/*-----------------------------------------*/
